@import url(http://fonts.googleapis.com/css?family=Rancho);

body {
	color: #555;
	font-family: 'Rancho', sans-serif;
	font-size: 18px;
	line-height: 1.3;
	margin: 0 auto;
	text-align: center;
}

.rotating-list {  }
.rotating-list ul { list-style:none; }
.rotating-list ul li { 
	display:block;
	border-left:2px solid #222;
	border-right:2px solid #222;
	padding-left:10px;
	padding-top:5px;
    text-decoration:none;
}
.rotating-list ul li:hover{
	-moz-box-shadow:10px 10px 20px #777777;
	-webkit-box-shadow:10px 10px 20px #777777;
	box-shadow:10px 10px 20px #777777;
}

.rotating-list .selected{
	background-color: #FFFFCC
}
